USE [master]
GO
/****** Object:  Database [MavhaPersons]    Script Date: 10/9/2018 8:01:22 PM ******/
CREATE DATABASE [MavhaPersons]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MavhaPersons', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MavhaPersons.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MavhaPersons_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\MavhaPersons_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MavhaPersons].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MavhaPersons]
GO
USE [MavhaPersons]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 10/9/2018 8:01:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Completo] [nvarchar](100) NOT NULL,
	[Fecha_de_Nacimiento] [date] NOT NULL,
	[Edad] [int] NULL,
	[Sexo] [nvarchar](1) NOT NULL,
 CONSTRAINT [PK_dbo.Persons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
